$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 100px;
}

.btn-availability {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;

  &[data-state=available] {
    background: #97b65b;
  }
  &[data-state=not-available] {
    background: #b84545;
  }
  &[data-state=not-available-am] {
    background: linear-gradient(to right, #b84545 0%, #b84545 50%, #97b65b 51%, #97b65b 100%);
  }
  &[data-state=not-available-pm] {
    background: linear-gradient(to right, #97b65b 0%, #97b65b 50%, #b84545 51%, #b84545 100%);
  }
}

.bullets {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bullet {
  padding: 10px;
}